/*
    FILE:    style.css
    DESC:    Styling for the Java Juice landing page.
    AUTHOR:  Kevin J. Becker 
    VERSION: 02/10/2019
*/

/* makes the whole body java juice red (as it might not take up 100vw) */
body {
    background: #eb5e55;
}

/* makes the brand header size smaller */
.brand-header-sm {
    width: 10rem !important;
}

/* changes the login tag to be more appropriately sized */
.login-tag {
    text-align: center;
    width: 700px;
    margin: 0 auto;
    font-weight: 800;
    padding: 2rem 0;
    font-size: 3rem;
}

/* styles an error message div */
.error {
    background: #1f1f1f;
    color: #f9f9f9;
    font-weight: bolder;
    width: 500px;
    margin: 15px auto;
    border-radius: .25rem;
    line-height: initial;
    padding: 15px;
}

@media screen and (max-width: 800px) {
    /* makes the login tag full screen below 800px */
    .login-tag {
        width: 100%;
    }

    .error {
        width: calc(100% - 30px);
    }
}

/* makes labels have their own line */
label {
    display: block;
    line-height: initial;
    margin-bottom: 5px;
    font-weight: bolder;
}

/* changes the footer a little bit */
#footer {
    position: fixed;
    bottom: 0;
    background: #1f1f1f;
    color: #f9f9f9;
    padding: 30px;
    width: calc(100% - 60px);
}